<div class="before-claim">

  <h1>Job Info</h1>
  <h2>Title: <%= @job.title %> </h2>
  <h3>Details:<%= @job.description %></h3>

  <% if @job.pending === true %><!-- Claimed -->
    <p>Job status: Claimed</p>
    <%= link_to "Complete Job", job_path(@job, :completed => true), :method => "patch", remote: true %>

  <% elsif @job.pending === false %><!-- Not claimed -->
    <p>Job status: Not Claimed</p>
    <% if current_worker %>
    <%= link_to "Claim Job", job_path(@job, :pending => true), :method => "patch", remote: true %>
    <% end %>

    <% else %><!-- Completed -->
    <h3>Job has been completed!</h3>
    <%= link_to "View Dashboard", jobs_path %>
  <% end %>
  </div>
</div>
