<h1>Jobs List</h1>

        <li><%= link_to "Add Job", new_job_path, remote: true, :class => "btn"  %></li>

<h3>Not Claimed: </h3>

<ul id="all_jobs">
  <% @jobs.each do |job| %>
    <% if job.pending == false %>
      <li id="job_link_<%= job.id %>">
        <%= link_to job.title, job_path(job) %> |
      <%= link_to "Cancel", job_path(job),:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %>
      </li>
    <% end %>

  <% end %>
</ul>

<h3>Claimed: </h3>
<ul>
  <% @jobs.each do |job| %>
  <% if job.pending == true %>
    <li id="job_link_<%= job.id %>">
      <%= link_to job.title, job_path(job) %> |
      <%= link_to "Cancel", job_path(job),:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %>


    </li>
  <% end %>
  <% end %>
</ul>

<h3>Completed: </h3>
<ul>
  <% @jobs.each do |job| %>
  <% if job.completed == true %>
  <li id="job_link_<%= job.id %>">
    <%= job.title %> |
  <%= link_to "Remove", job_path(job),:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %>
  </li>
  <% end %>
  <% end %>
</ul>


<div id="new_job_form"></div>
